.product {

  &__details {
    margin-top: 70px;

    h2 {
      font-size: 1.6rem;
      margin-bottom: 10px;

      @media only screen and (max-width: 768px) {
        font-size: 1.3rem;
      }
    }
  }

  &__rating {
    span i {
      color: coral;
    }

    p span {
      color: coral;
      font-weight: 500;
    }
  }

  &__price {
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.tab {
  &__wrapper {
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
  }

  &__content {
    line-height: 30px;
  }

  &_active {
    font-weight: 600;
  }
}

.review {
  &__wrapper {
    ul li {
      span {
        color: coral;
        font-weight: 600;
      }

      p {
        margin-top: 10px;
      }
    }
  }

  &__form {
    width: 70%;
    margin: auto;
    margin-top: 50px;

    h4 {
      font-size: 1.2rem;
      font-weight: 600;
      margin-bottom: 30px;
    }
  }
}

.form__group {
  margin-bottom: 30px;

  input,
  textarea {
    width: 100%;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 8px 20px;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  span {
    display: flex;
    align-items: center;
    column-gap: 5px;
    color: wheat;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: coral;
    }
  }
}

.form__group ._star-coral{
  color: coral;
}

.go-auth{
  display: flex;

  a{
    cursor: pointer;
    margin: 0 10px;
    color: var(--bs-link-color);
  }
}


.related__title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  .rating__group {
    column-gap: 1rem !important;
  }
}

._own-rating {
  background: rgba(255, 127, 80, 0.115);
}